:root {
    font-size: 18px;
    --user-color: black;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 0.25rem;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
}

.login-title {
    text-align: center;
}