:root {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    --user-color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100vw;
}

button {
    font-size: inherit;
}

button:hover {
    cursor: pointer;
}

#login, #signup {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap: 0.25rem;
}

#login ~ * {
    text-align: center;
}

#create {
    display: block;
}

#login button {
    font-family: inherit;
}

input {
    font-size: inherit;
}

input[type="text"], input[type="password"] {
    margin-bottom: 1rem;
}

.login-title {
    text-align: center;
}

/* signup form */

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-style: italic;
}

/* chatroom grid */

#grid-container {
    height: 100%;
    
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
}

#sidebar {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    
    border-left: 1px solid #ccc;
    text-align: center;
}

#users {
    padding: 0;
    list-style-type: none;
}

#account {
    text-align: center;
}

#messages {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 1rem;

    overflow-y: scroll;
}

#chatbar {
    grid-column: 1 / 2;
    grid-row: 2 / -1;

    display: grid;
    grid-template-columns: 1fr 50px;
    gap: 1rem;
    align-content: center;
    align-self: center;
    padding: 1rem;
    border-top: 1px solid #ccc;
    background-color: white;
}

#chatbar textarea {
    resize: none;
    border: 2px solid #ccc;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.25rem;
    height: 1.25rem;
    background-color: #eee;
}

#chatbar textarea:focus {
    outline: none;
    border-color: var(--user-color);
    background-color: white;
}

#chatbar button {
    border-radius: 50%;
    border: 2px solid var(--user-color);
    color: var(--user-color);
    font-family: inherit;
    background-color: white;
}

#chatbar button:disabled {
    border-color: #ccc;
    background-color: #eee;
}

.timestamp {
    font-size: 0.75rem;
    font-style: italic;
}

/* change grid layout on mobile devices */
@media screen and (max-width: 800px) {
    #grid-container {
        grid-template-rows: auto 1fr auto;
    }

    #sidebar, #messages, #chatbar {
        grid-column: 1 / -1;
    }

    #sidebar {
        grid-row: 1 / 2;
        border-bottom: 1px solid #ccc;
    }

    #messages {
        grid-row: 2 / 3;
    }

    #chatbar {
        grid-row: 3 / -1;
    }
}